.panel {
  margin: 10px 20px;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: #f1f1f1;
  box-shadow: 2px 4px #00000020;
}

.paneltitle {

}

.paneltitle span {
  float: right;
  color: #fe0000;
  cursor: pointer;
}

.panel input {
  padding: 8px 5px;
  border: none;
  border-radius: 10px;
  box-shadow: inset 0px 0px 2px 2px #00000020;
}

.buttonGroup {
  margin: 10px 20px;
  padding: 10px 20px;
}

.buttonGroup button {
  margin: 0 2px;
  padding: 6px 30px;
  border-radius: 5px;
  border: none;
  box-shadow: 2px 2px #00000020;
}